html{
	height: 100%;
	margin: 0;
}

body{
	height: 100%;
	margin: 0;
}

#playgroundWrapper{
	margin: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../img/sfondo.png");
	background-size: cover;
	background-attachment: scroll;
}

button{
	position: relative;
	width: 150px;
	color: white;
	border: solid 2px white;
	border-radius: 3px;
	background-color: green;
	box-shadow: 0px 5px 0px #00823F;
	top: 0px;
	margin: 20px;
	padding: 10px;
	display: block;
	font-size: 30px;
	transition: all ease 0.1s;

}

button:active{
  box-shadow: 0 3px 0 #00823F;
  top: 3px;

}

#playground{
	min-height: 80%;
	width: 60%;
	margin: auto;
	margin-top: 4%;
	border: 2px solid grey;
	background-position: center;
	background-attachment: fixed;
	background-color: lightblue;
}

/* IE6 hack */
* html #playground {
  height: 100%;
}

.ball{
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: black;
}

.paddle{
	position: absolute;
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: red;
}

.brick{
	position: absolute;
	width: 100px;
	height: 25px;
	background-color: grey;
	border: solid black 1px;
	box-sizing: border-box;
}


#divControl{
	width: 100%;
	height: 30px;
	margin: 10px;
	position: absolute;
	display: inline-block;
}

#divButton{
	padding: 20px;
	position: absolute;
	display: block;
}

#score{
	margin-top: -10px;
	float: left;
	width: 50%;
	height: 100%;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px 4px #FFFFFF;
}

#lives{
	margin-top: -5px;
	float: left;
	width: 50%;
	height: 100%;
}

.heart{
	position: relative;
	opacity: 1;
	background-image: url("../img/heart.png");
	background-size: 30px;
	display: inline-block;
	width: 30px;
	height: 30px;
}

@font-face {
  font-family: 'Arcade';
  src: url('../img/arcade.ttf') format('truetype');
}

.Arcade{
	font-family: 'Arcade', monospace;
}